/* .label */
/*.mi_estilo_Label {*/
Label{
	-fx-font-size: 16px;
	-fx-text-fill: yellow ;
	-fx-background-color: #f0f0f0;
	-fx-padding: 10px;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
	-fx-background-insets: 5px;
}

#mi_estilo_concreto {
	-fx-text-fill: red;
}

.text {
	-fx-text-fill: #BB72aa !important;
}

